body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 10px 20px 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px ;
}
.all{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4 , 1fr);
}
.display{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    text-align: right;
    color: black;
}
.calc button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
}
.fall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}
.theme1{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color:red;
}
.theme2{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color:blue;
}
.theme3{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color:gray;
}
.theme .theme1 .theme2 .theme3{
justify-content: space-between;
}
.theme{
    display: flex;
    justify-content: end;
}
.some{
    background-color: hsl(187.59,39.3%,39.41%);
    color: white;
}
.thing{
    background-color: rgb(157,74,8);
    color: white;
}